# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Python distribution files
dist/
build/
*.egg-info/

# Power BI temporary files
*.pbit

# Raw/private data
# data/raw/*